@model IEnumerable<BanHangOnline.Models.ShoppingCartItem>
@using BanHangOnline.Common
@{
    ViewBag.Title = "Giỏ hàng";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>

            <!-- Main Content -->

            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr class="text-center">
                            <th>STT</th>
                            <th>Ảnh sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Danh mục</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th></th>
                        </tr>
                        @if (Model != null && Model.Any())
                        {
                            var i = 0;
                            var tongtien = decimal.Zero;
                            foreach (var item in Model)
                            {
                                tongtien += item.TotalPrice;
                                <tr class="text-center" id="trow_@item.ProductId">
                                    <td>@(i+1)</td>
                                    <td><img src="@item.ProductImg" width="100" height="80" /></td>
                                    <td>
                                        <a href="/chi-tiet/@item.Alias-p@(item.ProductId)">
                                            @item.ProductName
                                        </a>
                                    </td>
                                    <td>@item.CategoryName</td>
                                    <td>@Common.FormatNumber(item.Price, 0)</td>
                                    <td>@item.Quantity</td>
                                    <th>@Common.FormatNumber(item.TotalPrice, 2)</th>
                                    <td>
                                        <a href="#" class="btn btn-sm btn-danger btnDelete" data-id="@item.ProductId">Xóa</a>
                                    </td>
                                </tr>
                                i++;
                            }
                            <tr>
                                <th colspan="6" class="text-right">Tổng: </th>
                                <th class="text-center">@Common.FormatNumber(tongtien, 0)</th>
                                <th></th>
                            </tr>
                        }   
                        else
                        {
                            <tr>
                                <td colspan="7">Không có sản phẩm nào trong giỏ hàng !!!</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/categories_price.js"></script>
}

